
  <%= form_tag("/search", method: "get", class: 'form-inline') do %>
        <%= text_field_tag :q, nil, class: 'form-control', value: params[:q] %>
        <%= submit_tag "Search", class: 'form-control btn btn-primary' %>

  <% end %> 

<% if @repo %>
    <h2>Results</h2>
    <ul>
        <% @contributors.each_with_index do |contributor, i| %>
            <li><%= contributor.login %> <%= link_to "Download pdf", controller: "main_page", action: "download", format: :pdf, name: "#{contributor.login}", index: "#{i+1}" %>  </li>
        <% end %>
    </ul>
<% end %>

<%= link_to "Download zip (#{@names.count})", controller: "main_page", action: "download", format: :zip, names: @names %>